/* FONT IMPORTADA DO SITE GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

body{
	margin: 0;
	font-family: "Saira Semi Condensed", "Verdana";
}
.container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.login-form{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	padding: 50px;
}
.title-login{
	text-align: center;
	font-size: 3rem;
	color: #ffb300;
	margin: 0px;
	margin-bottom: 25px;
}
.input{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	color: #888;
}
.input::placeholder{
	color: #bbb;
}
.mg-top{
	margin-top: 100px;
}
.button{
	border-radius: 10px;
	padding: 10px;
	background-color: #ffb300;
	border: 1px solid #c58b00;
	color: #a97600;
	font-weight: bold;
	display: inline-block;
}
.button-mw{
	width: 100%;
}
.Cadastre{
    background-color: #ffb300;
    border: none;
    color: #a97600;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
